.mood-recommendations {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    min-height: 100vh;
    background-image:url('https://img.freepik.com/free-photo/sky-sunset_53876-31348.jpg?t=st=1736672445~exp=1736676045~hmac=ae7d7b7ac9d4b55cc2ce4342c999bcbf9afc408264685c51c9b39dc5dc588ace&w=900');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:100vh;

  }
  
  .recommendation-list {
    margin-top: 20px;
  }
  
  .recommendation-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recommendation-item h2 {
    font-size: 1.5rem;
  }
  
  .recommendation-item a {
    color: #1d72b8;
    text-decoration: none;
  }
  
  .recommendation-item a:hover {
    text-decoration: underline;
  }
  .mood-recommendations {
    position: relative; /* To position the "Go to Home" link inside this container */
  }
  
  .go-home-link {
    position: absolute; /* Position it absolutely within the container */
    top: 10px;
    right: 10px;
  }
  
  .go-home {
    color: #82C7F4;
    font-size: 18px;
    text-decoration: none;
  }
  
  .go-home:hover {
    text-decoration: underline;
  }
  
  